@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem; /* Kích thước tương ứng với text-sm trong Tailwind */
}
em {
  background-color: rgba(255, 255, 0, 0.281); /* Nền màu vàng */
  padding: 4px; /* Khoảng cách giữa văn bản và nền */
  border-radius: 3px; /* Góc bo tròn */
  font-style: normal; /* Không in nghiêng */
}
/* Container cho spinner */
.spinner-container {
  position: absolute; /* Hoặc relative nếu container cha cần định vị */
  top: 0;
  left: 0;
  width: 100%; /* Chiếm toàn bộ không gian của container cha */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Tùy chọn: Nền mờ */
  z-index: 1; /* Đảm bảo hiển thị trên nội dung bên trong container */
}

/* Spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Màu nền */
  border-left-color: #3498db;           /* Màu xoay */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* Container căn giữa */
.centered-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;     /* Căn giữa theo chiều dọc */
}
.no-record {
  text-align: center;
  font-size: 16px;
  color: #999;
  padding: 20px;
}
.no-fee {
  text-align: center;
  font-size: 16px;
  color: blue;
  padding: 20px;
}
.fee {
  text-align: center;
  font-size: 16px;
  color: red;
  padding: 20px;
}
.info {
  text-align: center;
  font-size: 16px;
  color: blue;
  padding: 20px;
}
.error {
  text-align: center;
  font-size: 16px;
  color: red;
  padding: 20px;
}
.checkbox-large {
  width: 36px; /* Đặt chiều rộng của checkbox */
  height: 36px; /* Đặt chiều cao của checkbox */
  margin-right: 10px;
  display: inline-block; /* Đảm bảo checkbox và label nằm ngang */
}
/* Đặt z-index cho lịch DatePicker */
.react-datepicker-popper {
  z-index: 200 !important;
}
/* Overlay che toàn bộ màn hình */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(169, 169, 169, 0.7); /* Màu xám nhạt */
  z-index: 9998; /* Đảm bảo lớp phủ ở dưới modal */
  display: flex;
  justify-content: center;
  align-items: center; /* Căn giữa modal */
}

/* Cấu hình cho modal */
.payment-modal {
  z-index: 9999; /* Đặt z-index cao hơn lớp phủ */
  position: relative;
  padding: 20px;
  width: auto;
  background-color: white; /* Đảm bảo modal có nền trắng */
  border-radius: 8px; /* Thêm góc bo tròn cho modal */
}

.datepicker-wrapper {
  width: 100%;
}

.datepicker-wrapper input {
  width: 100%;
}
/* Các nút danh mục ở header*/
.li-nav-header {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: nowrap;
}
.li-nav-header:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
  color: #007bff; /* Màu chữ khi hover */
}
/* Các nút danh mục ở dropdown header*/
.li-nav-header-category {
  color:black;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: nowrap;
}
.li-nav-header-category:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
  color: #007bff; /* Màu chữ khi hover */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
  width: 4px; /* Độ rộng thanh cuộn dọc */
  height: 12px; /* Độ cao thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background-color: #888888; /* Màu thanh cuộn */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 /**/